*{
    box-sizing: border-box;
}



div.container{
    border: none;
}

div{
    height:120px;
    border:1px solid black;
}


[class*="col"]{
    float:left;
}

.col-lg-1{ width:8.3333%; }
.col-lg-2{ width:16.6666%; }
.col-lg-3{ width:25%; }
.col-lg-4{ width:33.3333%; }
.col-lg-5{ width:41.6666%; }
.col-lg-6{ width:50%; }
.col-lg-7{ width:58.3333%; }
.col-lg-8{ width:66.6666%; }
.col-lg-9{ width:75%; }
.col-lg-10{ width:83.3333%; }
.col-lg-11{ width:91.6666%; }
.col-lg-12{ width:100%; }


.col-lg-offset-1{ margin-left:8.3333%; }
.col-lg-offset-2{ margin-left:16.6666%; }
.col-lg-offset-3{ margin-left:25%; }
.col-lg-offset-4{ margin-left:33.3333%; }
.col-lg-offset-5{ margin-left:41.6666%; }
.col-lg-offset-6{ margin-left:50%; }
.col-lg-offset-7{ margin-left:58.3333%; }
.col-lg-offset-8{ margin-left:66.6666%; }
.col-lg-offset-9{ margin-left:75%; }
.col-lg-offset-10{ margin-left:83.3333%; }
.col-lg-offset-11{ margin-left:91.6666%; }
.col-lg-offset-12{ margin-left:100%; }


h3{
  font-size: 2rem;  
}